textarea {
  resize: none;
  height: 150px;
  width: 250px;
}

.projList {
  background-color: lemonchiffon;
  margin: 5px;
}

.invCodeDiv {
  background-color: lightgreen;
  padding: 5px;
  margin: 5px;
}

input{
  width: 300px;
}
