.MuiLinearProgress-root-155 {
  height: 10px !important;
}

.MuiButton-containedSecondary-64 {
  background: #f95c93 !important;
}

.MuiTab-textColorSecondary-185.MuiTab-selected-186, .MuiTypography-colorSecondary-133 {
  color: #f95c93 !important;
}
