.parallax {
    /* background-image: url("./assets/images/background.jpg");  */
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}